.container {
  border-color: black;
  background-color: white;
  border-radius: 1em;
  width: 10em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-style: solid;
}

.time {
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
