.container {
  height: 90%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
}

.innerContainer {
  background-color: black;
  width: 90%;
  height: 85%;
}
